<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">
  <img src="https://imagenes.es.sftcdn.net/es/scrn/30000/30110/itunes-35-535x535.png" width="40" height="40" alt="">
</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Inicio</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['buscar']">Buscar</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="https://github.com/savianco?tab=repositories" target="_blank">Sobre mi</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link link-powered" href="https://github.com/savianco?tab=repositories" target="_blank">Powered by TV Web Design</a>
      </li>
    </ul>

  </div>
</nav>
